<a href="https://colab.research.google.com/github/SergeyShchus/Data-analysis-Notebooks/blob/main/Notebooks/Population_census_LA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
!wget https://github.com/SergeyShchus/Data-analysis-Notebooks/blob/main/Data/census_tracts_data_la.csv

--2022-01-24 19:13:04--  https://github.com/SergeyShchus/Data-analysis-Notebooks/blob/main/Data/census_tracts_data_la.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘census_tracts_data_la.csv’

census_tracts_data_     [ <=>                ]   2.10M  --.-KB/s    in 0.07s

2022-01-24 19:13:05 (31.3 MB/s) - ‘census_tracts_data_la.csv’ saved [2203735]

In [10]:
df = pd.read_csv("/content/census_tracts_data_la.csv", dtype={"GEOID10": str})

In [11]:
df.shape

(2346, 25)

In [12]:
df.head()

       GEOID10  total_pop  ...  pct_english_only  pct_foreign_born
0  06037106010     3342.0  ...              42.1              28.1
1  06037106020     5937.0  ...              29.0              37.5
2  06037134720     4645.0  ...              32.6              42.2
3  06037137201     6226.0  ...              54.5              39.2
4  06037137502     4627.0  ...              77.9              20.1

[5 rows x 25 columns]

In [13]:
df.tail()

          GEOID10  total_pop  ...  pct_english_only  pct_foreign_born
2341  06037670326     3488.0  ...              69.6              25.0
2342  06037670324     5167.0  ...              80.1              15.0
2343  06037651402     6259.0  ...              53.2              37.7
2344  06037800203     5586.0  ...              75.5              20.7
2345  06037700102     3915.0  ...              53.0              34.5

[5 rows x 25 columns]

Warning: Total number of columns (25) exceeds max_columns (20) limiting to first (20) columns.

## Clean and process data

In [14]:
df.head(10)

       GEOID10  total_pop  ...  pct_english_only  pct_foreign_born
0  06037106010     3342.0  ...              42.1              28.1
1  06037106020     5937.0  ...              29.0              37.5
2  06037134720     4645.0  ...              32.6              42.2
3  06037137201     6226.0  ...              54.5              39.2
4  06037137502     4627.0  ...              77.9              20.1
5  06037137504     1960.0  ...              72.3              24.7
6  06037139702     5985.0  ...              58.3              34.2
7  06037143500     4977.0  ...              82.6              11.9
8  06037181400     4511.0  ...              48.3              40.6
9  06037189400     3497.0  ...              86.1              13.2

[10 rows x 25 columns]

In [15]:
df.dtypes

GEOID10                         object
total_pop                      float64
median_age                     float64
pct_hispanic                   float64
pct_white                      float64
pct_black                      float64
pct_asian                      float64
pct_male                       float64
pct_single_family_home         float64
med_home_value                 float64
med_rooms_per_home             float64
pct_built_before_1940          float64
pct_renting                    float64
rental_vacancy_rate            float64
avg_renter_household_size      float64
med_gross_rent                  object
med_household_income            object
mean_commute_time              float64
pct_commute_drive_alone        float64
pct_below_poverty              float64
pct_college_grad_student       float64
pct_same_residence_year_ago    float64
pct_bachelors_degree           float64
pct_english_only               float64
pct_foreign_born               float64
dtype: object

In [16]:
# access a single column like df['col_name']
df["med_gross_rent"].head(10)

0    1471 (USD)
1    1924 (USD)
2    1418 (USD)
3    1763 (USD)
4    2325 (USD)
5           NaN
6    2934 (USD)
7    1795 (USD)
8    1401 (USD)
9    1825 (USD)
Name: med_gross_rent, dtype: object

In [17]:
print(np.nan)
print(type(np.nan))

nan
<class 'float'>

In [ ]:
# convert rent from string -> float
df["med_gross_rent"].astype(float)

In [19]:
# do a string replace and assign back to that column, then change type to float
df["med_gross_rent"] = df["med_gross_rent"].str.replace(" (USD)", "", regex=False)
df["med_gross_rent"] = df["med_gross_rent"].astype(float)

In [20]:
# clean up the income column then convert it from string -> float
# do a string replace and assign back to that column
df["med_household_income"] = df["med_household_income"].str.replace("$", "", regex=False)
df["med_household_income"] = df["med_household_income"].astype(float)

In [21]:
# convert rent from float -> int
df["med_gross_rent"].astype(int)

ValueError: ignored

In [22]:
df.shape

(2346, 25)

In [23]:
df.dropna(subset=["med_gross_rent"]).shape
df["med_gross_rent"].fillna(value=0).head(10)

0    1471.0
1    1924.0
2    1418.0
3    1763.0
4    2325.0
5       0.0
6    2934.0
7    1795.0
8    1401.0
9    1825.0
Name: med_gross_rent, dtype: float64

In [24]:
df["state"] = df["GEOID10"].str.slice(0, 2)
df["county"] = df["GEOID10"].str.slice(2, 5)
df.head()

       GEOID10  total_pop  median_age  ...  pct_foreign_born  state  county
0  06037106010     3342.0        38.2  ...              28.1     06     037
1  06037106020     5937.0        37.9  ...              37.5     06     037
2  06037134720     4645.0        33.6  ...              42.2     06     037
3  06037137201     6226.0        33.4  ...              39.2     06     037
4  06037137502     4627.0        41.9  ...              20.1     06     037

[5 rows x 27 columns]

In [25]:
# dict that maps state fips code -> state name
fips = {"04": "Arizona", "06": "California", "41": "Oregon"}

# replace fips code with state name with the replace() method
df["state"] = df["state"].replace(fips)

In [26]:
df = df.rename(columns={"state": "state_name"})

In [27]:
df = df.drop(columns=["county"])

In [28]:
df.head()

       GEOID10  total_pop  ...  pct_foreign_born  state_name
0  06037106010     3342.0  ...              28.1  California
1  06037106020     5937.0  ...              37.5  California
2  06037134720     4645.0  ...              42.2  California
3  06037137201     6226.0  ...              39.2  California
4  06037137502     4627.0  ...              20.1  California

[5 rows x 26 columns]

In [29]:
df.to_csv("/content/census_tracts_data_la-clean.csv", index=False, encoding="utf-8")

## Selecting and slicing data

In [30]:
df["total_pop"]

0       3342.0
1       5937.0
2       4645.0
3       6226.0
4       4627.0
         ...
2341    3488.0
2342    5167.0
2343    6259.0
2344    5586.0
2345    3915.0
Name: total_pop, Length: 2346, dtype: float64

In [31]:
df[["total_pop", "median_age"]]

      total_pop  median_age
0        3342.0        38.2
1        5937.0        37.9
2        4645.0        33.6
3        6226.0        33.4
4        4627.0        41.9
...         ...         ...
2341     3488.0        52.6
2342     5167.0        48.4
2343     6259.0        41.8
2344     5586.0        42.1
2345     3915.0        41.3

[2346 rows x 2 columns]

In [32]:
# create a new column by assigning df['new_col'] to some set of values

df["monthly_income"] = df["med_household_income"] / 12
df["rent_burden"] = df["med_gross_rent"] / df["monthly_income"]

# inspect the results
df[["med_household_income", "monthly_income", "med_gross_rent", "rent_burden"]].head()

   med_household_income  monthly_income  med_gross_rent  rent_burden
0               73650.0     6137.500000          1471.0     0.239674
1               74286.0     6190.500000          1924.0     0.310799
2               61372.0     5114.333333          1418.0     0.277260
3               74936.0     6244.666667          1763.0     0.282321
4               96964.0     8080.333333          2325.0     0.287736

In [33]:
df.loc[0]

GEOID10                        06037106010
total_pop                             3342
median_age                            38.2
pct_hispanic                          73.6
pct_white                             14.8
pct_black                              3.6
pct_asian                              145
pct_male                                47
pct_single_family_home                77.2
med_home_value                      460800
med_rooms_per_home                     6.3
pct_built_before_1940                  2.1
pct_renting                           25.1
rental_vacancy_rate                      0
avg_renter_household_size             3.12
med_gross_rent                        1471
med_household_income                 73650
mean_commute_time                     31.5
pct_commute_drive_alone               76.2
pct_below_poverty                     21.3
pct_college_grad_student              23.8
pct_same_residence_year_ago           87.9
pct_bachelors_degree                  20.4
pct_english_only                      42.1
pct_foreign_born                      28.1
state_name                      California
monthly_income                      6137.5
rent_burden                       0.239674
Name: 0, dtype: object

In [34]:
df.loc[0, "pct_below_poverty"]

21.3

In [35]:
df.loc[5:7]

       GEOID10  total_pop  median_age  ...  state_name  monthly_income  rent_burden
5  06037137504     1960.0        52.0  ...  California    14609.416667          NaN
6  06037139702     5985.0        50.1  ...  California    15657.583333     0.187385
7  06037143500     4977.0        41.4  ...  California     7288.666667     0.246273

[3 rows x 28 columns]

In [36]:
df.loc[1:3, "pct_hispanic":"pct_asian"]

   pct_hispanic  pct_white  pct_black  pct_asian
1          81.1       15.4        1.0       92.0
2          46.9       23.2        5.0      991.0
3          19.2       53.6        4.9     1315.0

In [37]:
df.loc[[1, 3], ["pct_hispanic", "pct_asian"]]

   pct_hispanic  pct_asian
1          81.1       92.0
3          19.2     1315.0

In [38]:
df = df.set_index("GEOID10")
df.index.is_unique

True

In [39]:
df.head()

             total_pop  median_age  ...  monthly_income  rent_burden
GEOID10                             ...
06037106010     3342.0        38.2  ...     6137.500000     0.239674
06037106020     5937.0        37.9  ...     6190.500000     0.310799
06037134720     4645.0        33.6  ...     5114.333333     0.277260
06037137201     6226.0        33.4  ...     6244.666667     0.282321
06037137502     4627.0        41.9  ...     8080.333333     0.287736

[5 rows x 27 columns]

In [41]:
df.loc["06037137201"]

total_pop                            6226
median_age                           33.4
pct_hispanic                         19.2
pct_white                            53.6
pct_black                             4.9
pct_asian                            1315
pct_male                             50.8
pct_single_family_home               34.9
med_home_value                     605300
med_rooms_per_home                    4.4
pct_built_before_1940                   4
pct_renting                          61.5
rental_vacancy_rate                     0
avg_renter_household_size            2.87
med_gross_rent                       1763
med_household_income                74936
mean_commute_time                    29.3
pct_commute_drive_alone              71.3
pct_below_poverty                     7.1
pct_college_grad_student             29.9
pct_same_residence_year_ago            86
pct_bachelors_degree                   51
pct_english_only                     54.5
pct_foreign_born                     39.2
state_name                     California
monthly_income                    6244.67
rent_burden                      0.282321
Name: 06037137201, dtype: object

In [42]:
df.iloc[0]

total_pop                            3342
median_age                           38.2
pct_hispanic                         73.6
pct_white                            14.8
pct_black                             3.6
pct_asian                             145
pct_male                               47
pct_single_family_home               77.2
med_home_value                     460800
med_rooms_per_home                    6.3
pct_built_before_1940                 2.1
pct_renting                          25.1
rental_vacancy_rate                     0
avg_renter_household_size            3.12
med_gross_rent                       1471
med_household_income                73650
mean_commute_time                    31.5
pct_commute_drive_alone              76.2
pct_below_poverty                    21.3
pct_college_grad_student             23.8
pct_same_residence_year_ago          87.9
pct_bachelors_degree                 20.4
pct_english_only                     42.1
pct_foreign_born                     28.1
state_name                     California
monthly_income                     6137.5
rent_burden                      0.239674
Name: 06037106010, dtype: object

In [43]:
df.iloc[0:3]

             total_pop  median_age  ...  monthly_income  rent_burden
GEOID10                             ...
06037106010     3342.0        38.2  ...     6137.500000     0.239674
06037106020     5937.0        37.9  ...     6190.500000     0.310799
06037134720     4645.0        33.6  ...     5114.333333     0.277260

[3 rows x 27 columns]

In [44]:
df[df["rent_burden"] > 0.3]

             total_pop  median_age  ...  monthly_income  rent_burden
GEOID10                             ...
06037106020     5937.0        37.9  ...     6190.500000     0.310799
06037181400     4511.0        40.6  ...     4600.666667     0.304521
06037189902     5243.0        35.6  ...     4343.333333     0.355257
06037190100     4624.0        32.6  ...     3539.166667     0.397551
06037199201     4170.0        30.7  ...     3250.750000     0.312851
...                ...         ...  ...             ...          ...
06037910002     7884.0        30.8  ...     3352.500000     0.378225
06037900609     5574.0        27.4  ...     3635.916667     0.331966
06037650604     5825.0        35.4  ...     4503.000000     0.326005
06037920336     6630.0        28.9  ...     4043.583333     0.326690
06037700102     3915.0        41.3  ...     3029.666667     0.428100

[994 rows x 27 columns]

In [45]:
df["rent_burden"] > 0.3

GEOID10
06037106010    False
06037106020     True
06037134720    False
06037137201    False
06037137502    False
               ...
06037670326    False
06037670324    False
06037651402    False
06037800203    False
06037700102     True
Name: rent_burden, Length: 2346, dtype: bool

In [46]:
mask = df["rent_burden"] > 0.3
df[mask]

             total_pop  median_age  ...  monthly_income  rent_burden
GEOID10                             ...
06037106020     5937.0        37.9  ...     6190.500000     0.310799
06037181400     4511.0        40.6  ...     4600.666667     0.304521
06037189902     5243.0        35.6  ...     4343.333333     0.355257
06037190100     4624.0        32.6  ...     3539.166667     0.397551
06037199201     4170.0        30.7  ...     3250.750000     0.312851
...                ...         ...  ...             ...          ...
06037910002     7884.0        30.8  ...     3352.500000     0.378225
06037900609     5574.0        27.4  ...     3635.916667     0.331966
06037650604     5825.0        35.4  ...     4503.000000     0.326005
06037920336     6630.0        28.9  ...     4043.583333     0.326690
06037700102     3915.0        41.3  ...     3029.666667     0.428100

[994 rows x 27 columns]

In [47]:
mask = (df["rent_burden"] > 0.3) & (df["pct_black"] > 50)
df[mask].shape

(20, 27)

In [48]:
# which tracts are both rent-burdened and either majority-Black or majority-Hispanic?
mask1 = df["rent_burden"] > 0.3
mask2 = df["pct_black"] > 50
mask3 = df["pct_hispanic"] > 50
mask = mask1 & (mask2 | mask3)
df[mask].shape

(654, 27)

In [49]:
mask

GEOID10
06037106010    False
06037106020     True
06037134720    False
06037137201    False
06037137502    False
               ...
06037670326    False
06037670324    False
06037651402    False
06037800203    False
06037700102    False
Length: 2346, dtype: bool

In [50]:
~mask

GEOID10
06037106010     True
06037106020    False
06037134720     True
06037137201     True
06037137502     True
               ...
06037670326     True
06037670324     True
06037651402     True
06037800203     True
06037700102     True
Length: 2346, dtype: bool

In [51]:
mask = df["state_name"].str.startswith("Cal")
df[mask].shape

(2346, 27)

In [52]:
df["med_household_income"].min()

5682.0

In [53]:
# create a subset dataframe with only race/ethnicity variables
race_cols = ["pct_asian", "pct_black", "pct_hispanic", "pct_white"]
df_race = df[race_cols]
df_race.head()

             pct_asian  pct_black  pct_hispanic  pct_white
GEOID10
06037106010      145.0        3.6          73.6       14.8
06037106020       92.0        1.0          81.1       15.4
06037134720      991.0        5.0          46.9       23.2
06037137201     1315.0        4.9          19.2       53.6
06037137502      174.0       10.8          13.2       67.2

In [54]:
econ_cols = ["med_home_value", "med_household_income"]
df_econ = df[econ_cols].sort_values("med_household_income")
df_econ.head()

             med_home_value  med_household_income
GEOID10
06037222700             NaN                5682.0
06037206300             NaN               10262.0
06037224700        531300.0               11585.0
06037980010        839300.0               11938.0
06037221900        943800.0               12014.0

In [55]:
df_merged = pd.merge(left=df_econ, right=df_race, how="inner", left_index=True, right_index=True)
df_merged.head()

             med_home_value  med_household_income  ...  pct_hispanic  pct_white
GEOID10                                            ...
06037222700             NaN                5682.0  ...          10.4       44.8
06037206300             NaN               10262.0  ...          20.3       21.9
06037224700        531300.0               11585.0  ...          13.8       46.3
06037980010        839300.0               11938.0  ...          45.9       30.8
06037221900        943800.0               12014.0  ...          26.7       19.6

[5 rows x 6 columns]

## Concatenating DataFrames

In [56]:
oc = pd.read_csv("/content/census_tracts_data_oc.csv", dtype={"GEOID10": str})
oc = oc.set_index("GEOID10")
oc.shape

(583, 24)

In [57]:
oc.head()

             total_pop  median_age  ...  pct_english_only  pct_foreign_born
GEOID10                             ...
06059110110     5885.0        35.9  ...              51.5              34.4
06059110115     3761.0        45.3  ...              58.8              34.3
06059110116     4748.0        42.9  ...              50.3              36.3
06059089001     7696.0        40.8  ...              10.9              62.4
06059075702     3479.0        46.0  ...              81.7              12.6

[5 rows x 24 columns]

In [58]:
# merging joins data together aligned by the index, but concatenating just smushes it together along some axis
df_all = pd.concat([df, oc], sort=False)
df_all

             total_pop  median_age  ...  monthly_income  rent_burden
GEOID10                             ...
06037106010     3342.0        38.2  ...     6137.500000     0.239674
06037106020     5937.0        37.9  ...     6190.500000     0.310799
06037134720     4645.0        33.6  ...     5114.333333     0.277260
06037137201     6226.0        33.4  ...     6244.666667     0.282321
06037137502     4627.0        41.9  ...     8080.333333     0.287736
...                ...         ...  ...             ...          ...
06059075202     5510.0        33.3  ...             NaN          NaN
06059075301     5994.0        29.2  ...             NaN          NaN
06059032032     3020.0        44.8  ...             NaN          NaN
06059032035     2356.0        56.5  ...             NaN          NaN
06059032038     6482.0        45.5  ...             NaN          NaN

[2929 rows x 27 columns]

## Grouping and summarizing

In [59]:
# extract county fips from index then replace with friendly name
df_all["county"] = df_all.index.str.slice(2, 5)
df_all["county"] = df_all["county"].replace({"037": "LA", "059": "OC"})
df_all["county"]

GEOID10
06037106010    LA
06037106020    LA
06037134720    LA
06037137201    LA
06037137502    LA
               ..
06059075202    OC
06059075301    OC
06059032032    OC
06059032035    OC
06059032038    OC
Name: county, Length: 2929, dtype: object

In [60]:
# group the rows by county
counties = df_all.groupby("county")

# what is the median pct_white across the tracts in each county?
counties["pct_white"].median()

county
LA    17.10
OC    46.75
Name: pct_white, dtype: float64

In [61]:
counties[["pct_bachelors_degree", "pct_foreign_born", "pct_commute_drive_alone"]].median()

        pct_bachelors_degree  pct_foreign_born  pct_commute_drive_alone
county
LA                      25.4              34.7                     75.1
OC                      39.8              26.6                     79.3