In [1]:
import numpy as np
import pandas as pd

In [2]:
!wget https://github.com/SergeyShchus/Data-analysis-Notebooks/blob/main/Data/census_tracts_data_la.csv

--2022-01-24 19:13:04--  https://github.com/SergeyShchus/Data-analysis-Notebooks/blob/main/Data/census_tracts_data_la.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘census_tracts_data_la.csv’

census_tracts_data_     [ <=>                ]   2.10M  --.-KB/s    in 0.07s

2022-01-24 19:13:05 (31.3 MB/s) - ‘census_tracts_data_la.csv’ saved [2203735]

In [10]:
df = pd.read_csv("/content/census_tracts_data_la.csv", dtype={"GEOID10": str})

In [11]:
df.shape

(2346, 25)

In [12]:
df.head()

       GEOID10  total_pop  ...  pct_english_only  pct_foreign_born
0  06037106010     3342.0  ...              42.1              28.1
1  06037106020     5937.0  ...              29.0              37.5
2  06037134720     4645.0  ...              32.6              42.2
3  06037137201     6226.0  ...              54.5              39.2
4  06037137502     4627.0  ...              77.9              20.1

[5 rows x 25 columns]

In [13]:
df.tail()

          GEOID10  total_pop  ...  pct_english_only  pct_foreign_born
2341  06037670326     3488.0  ...              69.6              25.0
2342  06037670324     5167.0  ...              80.1              15.0
2343  06037651402     6259.0  ...              53.2              37.7
2344  06037800203     5586.0  ...              75.5              20.7
2345  06037700102     3915.0  ...              53.0              34.5

[5 rows x 25 columns]

Warning: Total number of columns (25) exceeds max_columns (20) limiting to first (20) columns.

## Clean and process data

In [14]:
df.head(10)

       GEOID10  total_pop  ...  pct_english_only  pct_foreign_born
0  06037106010     3342.0  ...              42.1              28.1
1  06037106020     5937.0  ...              29.0              37.5
2  06037134720     4645.0  ...              32.6              42.2
3  06037137201     6226.0  ...              54.5              39.2
4  06037137502     4627.0  ...              77.9              20.1
5  06037137504     1960.0  ...              72.3              24.7
6  06037139702     5985.0  ...              58.3              34.2
7  06037143500     4977.0  ...              82.6              11.9
8  06037181400     4511.0  ...              48.3              40.6
9  06037189400     3497.0  ...              86.1              13.2

[10 rows x 25 columns]

In [15]:
df.dtypes

GEOID10                         object
total_pop                      float64
median_age                     float64
pct_hispanic                   float64
pct_white                      float64
pct_black                      float64
pct_asian                      float64
pct_male                       float64
pct_single_family_home         float64
med_home_value                 float64
med_rooms_per_home             float64
pct_built_before_1940          float64
pct_renting                    float64
rental_vacancy_rate            float64
avg_renter_household_size      float64
med_gross_rent                  object
med_household_income            object
mean_commute_time              float64
pct_commute_drive_alone        float64
pct_below_poverty              float64
pct_college_grad_student       float64
pct_same_residence_year_ago    float64
pct_bachelors_degree           float64
pct_english_only               float64
pct_foreign_born               float64
dtype: object

In [16]:
# access a single column like df['col_name']
df["med_gross_rent"].head(10)

0    1471 (USD)
1    1924 (USD)
2    1418 (USD)
3    1763 (USD)
4    2325 (USD)
5           NaN
6    2934 (USD)
7    1795 (USD)
8    1401 (USD)
9    1825 (USD)
Name: med_gross_rent, dtype: object

In [17]:
print(np.nan)
print(type(np.nan))

nan
<class 'float'>

In [ ]:
# convert rent from string -> float
df["med_gross_rent"].astype(float)

In [19]:
# do a string replace and assign back to that column, then change type to float
df["med_gross_rent"] = df["med_gross_rent"].str.replace(" (USD)", "", regex=False)
df["med_gross_rent"] = df["med_gross_rent"].astype(float)

In [20]:
# clean up the income column then convert it from string -> float
# do a string replace and assign back to that column
df["med_household_income"] = df["med_household_income"].str.replace("$", "", regex=False)
df["med_household_income"] = df["med_household_income"].astype(float)

In [21]:
# convert rent from float -> int
df["med_gross_rent"].astype(int)

ValueError: ignored

In [22]:
df.shape

(2346, 25)

In [23]:
df.dropna(subset=["med_gross_rent"]).shape
df["med_gross_rent"].fillna(value=0).head(10)

0    1471.0
1    1924.0
2    1418.0
3    1763.0
4    2325.0
5       0.0
6    2934.0
7    1795.0
8    1401.0
9    1825.0
Name: med_gross_rent, dtype: float64

In [24]:
df["state"] = df["GEOID10"].str.slice(0, 2)
df["county"] = df["GEOID10"].str.slice(2, 5)
df.head()

       GEOID10  total_pop  median_age  ...  pct_foreign_born  state  county
0  06037106010     3342.0        38.2  ...              28.1     06     037
1  06037106020     5937.0        37.9  ...              37.5     06     037
2  06037134720     4645.0        33.6  ...              42.2     06     037
3  06037137201     6226.0        33.4  ...              39.2     06     037
4  06037137502     4627.0        41.9  ...              20.1     06     037

[5 rows x 27 columns]

In [25]:
# dict that maps state fips code -> state name
fips = {"04": "Arizona", "06": "California", "41": "Oregon"}

# replace fips code with state name with the replace() method
df["state"] = df["state"].replace(fips)

In [26]:
df = df.rename(columns={"state": "state_name"})

In [27]:
df = df.drop(columns=["county"])

In [28]:
df.head()

       GEOID10  total_pop  ...  pct_foreign_born  state_name
0  06037106010     3342.0  ...              28.1  California
1  06037106020     5937.0  ...              37.5  California
2  06037134720     4645.0  ...              42.2  California
3  06037137201     6226.0  ...              39.2  California
4  06037137502     4627.0  ...              20.1  California

[5 rows x 26 columns]

In [29]:
df.to_csv("/content/census_tracts_data_la-clean.csv", index=False, encoding="utf-8")